# Firebase and Google Cloud core libraries
firebase-functions
firebase-admin
google-cloud-storage
google-cloud-speech
google-cloud-aiplatform>=1.49.0

# Library for PDF processing (imported as fitz)
PyMuPDF