.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: inline-flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  overflow: visible;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
  padding: 0.5rem 1rem; /* Added padding here */
}

/* This is a simple and effective text-stroke method */
.animated-gradient-text.has-text-border .text-content {
  -webkit-text-stroke: 1px;
  /* The gradient will be applied to the stroke via the background-clip property */
}